/ExerciciosAulaSeis/target/
/OperadoresAritmeticos/target/
/OperadoresSwing/target/
/AulaMath/target/
/ExercicioAulaSete/target/
/operadorTernario/target/
/ComparacaoString/target/
/OperadoresLogicoa/target/
/VerificadorIdadeSwing/target/
