/ExerciciosAulaSeis/target/
/OperadoresAritmeticos/target/
/OperadoresSwing/target/
/AulaMath/target/
/ExercicioAulaSete/target/
/operadorTernario/target/
/ComparacaoString/target/
/OperadoresLogicoa/target/
/VerificadorIdadeSwing/target/
/TesteImagem/nbproject/private/
/TesteImagem/build/
/TesteImagem/dist/
/TesteDeImagemDois/nbproject/private/
/TesteDeImagemDois/build/
/ExercicioAulaOito/nbproject/private/
/ExercicioAulaOito/build/
/ExercicioAulaOito/dist/
/ExercicioEquacao/nbproject/private/
/ExercicioEquacao/build/
/ExercicioEquacao/dist/
/AulaDezExercicioIdade/nbproject/private/
/ExercicioAulaDezIdade/nbproject/private/
/ExercicioAulaDezIdade/build/
/ExercicioAulaDezIdade/dist/
