/ExerciciosAulaSeis/target/
/OperadoresAritmeticos/target/
/OperadoresSwing/target/
/AulaMath/target/
/ExercicioAulaSete/target/
/operadorTernario/target/
/ComparacaoString/target/
/OperadoresLogicoa/target/
/VerificadorIdadeSwing/target/
/TesteImagem/nbproject/private/
/TesteImagem/build/
/TesteImagem/dist/
/TesteDeImagemDois/nbproject/private/
/TesteDeImagemDois/build/
/ExercicioAulaOito/nbproject/private/
/ExercicioAulaOito/build/
/ExercicioAulaOito/dist/
/ExercicioEquacao/nbproject/private/
/ExercicioEquacao/build/
/ExercicioEquacao/dist/
/AulaDezExercicioIdade/nbproject/private/
/ExercicioAulaDezIdade/nbproject/private/
/ExercicioAulaDezIdade/build/
/ExercicioAulaDezIdade/dist/
/ExercicioAulaDezTriangulos/nbproject/private/
/ExercicioAulaDezTriangulos/build/
/ExercicioAulaDezTriangulos/dist/
/aula11/nbproject/private/
/aula11/build/
/aula11/dist/
/contadoraula11/nbproject/private/
/contadoraula11/dist/
/ExercicioAula11/nbproject/private/
/ExercicioAula11/build/
/ExercicioAula11/dist/
/somaAula12/nbproject/private/
/somaAula12/build/
/somaAula12/dist/
/ExercicioRepitaAula12/nbproject/private/
/ExercicioRepitaAula12/build/
/ExercicioRepitaAula12/dist/
/exercicioAulaFor/target/
/ExercicioAula13For/target/
